<#include "header.html">
<div class="container">
	
	<form>
		<h1>${form.title}</h1>

		<#list elements as e>
			<p>
				${e.title}
				<#if e.type == "text">
					<input type="text"
						   class="form-control"
						   placeholder="Input Text" />
				</#if>
				<#if e.type == "slider">
					<input type="range"
						   min="0"
						   max="10"
						   value="0"
						   class="form-range" />
				</#if>
				<#if e.type == "select">
					<select class="form-select">
						<option>Option</option>
						<option>Item 1</option>
						<option>Item 2</option>
						<option>Item 3</option>
					</select>	
				</#if>
			</p>
		</#list>	
			
		<button class="btn btn-primary">Submit</button>		
	</form>
	
	<a href="javascript:add()">Add</a>

	<div class="modal fade" id="my-modal" data-backdrop="static" 
		 data-keyboard="false" tabindex="-1">

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
				...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" 
						data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary">OK</button>
				</div>
			</div>
		</div>
	</div>

</div>
<script>
	function add() {
		var m = document.getElementById('my-modal')
		var b = new bootstrap.Modal(m)
		// TODO: Use button.onclick instead
		m.addEventListener('hidden.bs.modal', function (e) {
			
		})
		b.show()
	}
</script>
<style>
	form {
		padding-top: 0.5rem;	
	}
</style>
<#include "footer.html">
