<#include "header.html">
<div class="container">
    <#if user??>
        <a href="/profile" style="float:right;margin-top:.25rem;">Home</a>
    </#if>
    <h2 id='form-title'>${form.title}</h2>

    <form id="main-form">

        <#list elements as e>
            <div class='element'
                 element-id="${e.id}"
                 element-type="${e.type}"
                 element-detail="${e.placeholder ! ''}"
                 element-required="${e.required}"
                 element-custom="${e.custom}">

                <label>${e.title}</label>
                <a onclick='editElement(${e.id})' class='editor'>&nbsp;</a>

                <#if e.type == "text">
                <input type="text"
                       class="form-control"
                       placeholder="${e.placeholder ! ''}" />
                </#if>
                <#if e.type == "range">
                <input type="range"
                       min="${e.min !  0}"
                       max="${e.max ! 10}"
                       class="form-range"
                       oninput="updateRange(this)" />
                <p class="input-value">${e.min ! 0} ... ${e.max ! 10}</p>
                </#if>
                <#if e.type == "radio">
                <div class="radio-choice">
                    <#assign id=e.id                      />
                    <#assign items=e.placeholder          />
                    <#assign index=0                      />
                    <#list items?split("\n") as item       >
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               name="${id}"
                               id="${id}-${index}"
                               value="${item}" />
                        <label class="form-check-label"
                               for="${id}-${index}"
                                >${item}</label>
                    </div>
                    <#assign index=index+1                />
                    </#list>

                    <#if e.custom == "Y"                   >
                    <input class='form-control'
                           id='other-${id}'
                           placeholder='...' />
                    </#if                                  >
                </div>
                </#if>
            </div>
        </#list>
    </form>
    <button class="btn btn-primary" onclick="submit()">Submit</button>
    <br/><br/>
</div>
<script>
var formId = ${form.id}

function updateRange(e) {
    e.setAttribute('value', e.value)
    e.nextElementSibling.innerText = e.value
}
function submit() {
    var main = document.querySelector('#main-form')
    var data = [ ]
    var all = document.querySelectorAll('.element')
    for (var i in all) {
        if (all[i].getAttribute) {
            var id    = all[i].getAttribute("element-id")
            var type  = all[i].getAttribute('element-type')
            var label = all[i].firstElementChild
            if (label) {
                if (type == 'text' || type == 'range') {
                    var input = all[i].firstElementChild.nextElementSibling
                    data.push({id:id, value:input.value})
                }
                if (type == 'radio') {
                    var selector = 'input[name="' + id + '"]:checked'
                    var value = document.querySelector(selector).value
                    data.push({id:id, value:value})
                }
            }
        }
    }
    fetch('/save-data/' + formId, {
        method: 'post',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({data:data})
    }).then( r => r.json() )
    .then(d => {
        location.reload()
    })
}
</script>

<style>
form {
    padding: 0.5rem 0;
}
.element {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: #f8f8f8;
    transition: background 0.1s linear;
    border-left: 2px solid #ccc;
}
.element:hover {
    background: #fcfcfc;
}
.input-value {
    float:right;
    margin-top:-3rem;
    color: #999;
}
</style>
<#include "footer.html">
