<#include "header.html">
<div class="container">
	
	<form id="main-form">
		<h1 id='form-title'>${form.title}</h1>

		<#list elements as e>
			<div class='element' element-id="${e.id}" element-type="${e.type}">
				<label>${e.title}</label>
				<a href='javascript:editElement(${e.id})'>
					<svg class="normal" width="96" height="96" 
						viewBox="0 0 24 24" fill="none" 
						stroke="#333" stroke-width="2" 
						stroke-linecap="round" stroke-linejoin="round">
						<path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 
								2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34">
						</path>
						<polygon points="18 2 22 6 12 16 8 16 8 12 18 2">
						</polygon>
					</svg>
				</a>
				<#if e.type == "text">
					<input type="text"
						   class="form-control"
						   placeholder="${e.placeholder ! ''}" />
				</#if>
				<#if e.type == "range">
					<input type="range"
						   min="${e.min !  0}"
						   max="${e.max ! 10}"
						   value="0"
						   title = "Title"
						   data-toggle="tooltip"
						   data-placement="top" 
						   class="form-range" />
				</#if>
				<#if e.type == "select">
					<select class="form-select">
						<option>Option</option>
						<option>Item 1</option>
						<option>Item 2</option>
						<option>Item 3</option>
					</select>
				</#if>
			</div>
		</#list>

	</form>
	
	<a href="javascript:addElement('New Text', 'text')">Text</a>
	<a href="javascript:addElement('Data Element', 'range')">Slider</a>
	<a href="/profile">Home</a>
	<a href='javascript:editForm()'>Settings</a>

	<script>
		function addElement(title, type) {
			var typeClass = ''
			var option = ''
			switch (type) {
				case 'range':
					typeClass = 'form-range'
					option = "min='0' max='10' value='0'"
					break

				default:
					type = 'text'
					typeClass = 'form-control'
			}
			// TODO: set min max default value from here
			fetch('/add-element', {
				method:'post',
				body: 'form=' + formId + 
						'&name=' + title +
						'&type=' + type,
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				}
				})
			.then( r => r.json() )
			.then( d => {
				console.log(d)
				if (d.id > 0) {
					var template = `<div class='element' element-id='--element-id--'
							element-type='--type--'>
						<label>--name--</label>
						<a href='javascript:editElement(--element-id--)'>
							<svg class="normal" width="96" height="96" 
								viewBox="0 0 24 24" fill="none" 
								stroke="#333" stroke-width="2" 
								stroke-linecap="round" stroke-linejoin="round">
								<path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 
										2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34">
								</path>
								<polygon points="18 2 22 6 12 16 8 16 8 12 18 2">
								</polygon>
							</svg>
						</a>
						<input type='--type--' class='--type-class--' 
								--option--
						/>
					</div>`
					template = template.replace('--name--', title)
					template = template.replace('--type--', type)
					template = template.replace('--type--', type)
					template = template.replace('--type-class--', typeClass)
					template = template.replace('--element-id--', d.id)
					template = template.replace('--element-id--', d.id)
					template = template.replace('--option--', option)

					var form = document.querySelector("#main-form")
					form.innerHTML += template
				}
			})
		}

		function removeElement(id) {
			var all = document.querySelectorAll("div.element")
			var element = null
			for (var i = 0; i < all.length; i++) {
				if (id == all[i].getAttribute('element-id') ) {
					element = all[i]
				}
			}
			if (element != null) {
				element.style.display = 'none'
			}
			fetch('/remove-element/' + id)
			.then(r => r.json())
			.then(d => {})
		}

		function editElement(id) {
			var all = document.querySelectorAll("div.element")
			var element = null
			for (var i = 0; i < all.length; i++) {
				if (id == all[i].getAttribute('element-id') ) {
					element = all[i]
				}
			}
			if (element != null) {
				var type = element.getAttribute("element-type")
				if (type == 'range') {
					editRange(element)
				}
				if (type == 'text') {
					editText(element)
				}
			}
		}
	</script>

	<div class="modal fade" id="edit-form-modal" data-backdrop="static" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Form Editor</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="edit-form-modal-title"
						class="form-control"
						placeholder="Form Title" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						id="edit-form-modal-ok">Save</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		var formId = ${form.id}
		var formTitle = '${form.title}'

		var formEditorDialog = new bootstrap.Modal(document.querySelector("#edit-form-modal"))
		var formEditorOk = document.querySelector("#edit-form-modal-ok")

		formEditorOk.onclick = function(e) {
			var title = document.querySelector("#edit-form-modal-title")
			fetch('/save-form', {
				method: 'post',
				body: 'title=' + title.value + "&form=" + formId,
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				}
			}).then( r => r.text() )
			.then( d => {
				formTitle = title.value
				document.querySelector("#form-title").innerHTML = formTitle
				formEditorDialog.hide()
			})
		}

		function editForm() {
			var title = document.querySelector("#edit-form-modal-title")
			title.value = formTitle
			formEditorDialog.show()
		}
	</script>

	<div class="modal fade" id="edit-text-modal" data-backdrop="static" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Text</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="edit-text-modal-title"
						class="form-control"
						placeholder="Title" />
					<input id="edit-text-modal-placeholder"
						class="form-control"
						placeholder="Placeholder" />
					<input id="edit-text-modal-id" type="hidden" />
				</div>
				<div class="modal-footer" style="justify-content: space-between;">
					<button type="button" class="btn btn-danger"
						id="edit-text-modal-delete">Delete</button>
					<button type="button" class="btn btn-primary"
						id="edit-text-modal-ok">Save</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		function editText(element) {
			var title   = document.querySelector("#edit-text-modal-title")
			title.focus()
			title.value = element.firstElementChild.innerText
			
			var input   = element.firstElementChild.nextElementSibling.nextElementSibling
			document.querySelector("#edit-text-modal-placeholder").value = input.placeholder
			
			var id      = document.querySelector("#edit-text-modal-id")
			id.value = element.getAttribute("element-id")
			textEditorDialog.show()
		}
		var textEditorDialog = new bootstrap.Modal(document.querySelector("#edit-text-modal"))
		var textEditorOk = document.querySelector("#edit-text-modal-ok")
		var textEditorDelete = document.querySelector("#edit-text-modal-delete")
		textEditorDelete.onclick = function(e) {
			var id = document.querySelector("#edit-text-modal-id")
			removeElement(id.value)
			textEditorDialog.hide()
		}
		textEditorOk.onclick = function(e) {
			var title       = document.querySelector("#edit-text-modal-title")
			var placeholder = document.querySelector("#edit-text-modal-placeholder")
			var id          = document.querySelector("#edit-text-modal-id")
			
			fetch('/save-element/' + id.value, {
				method:'post',
				body: 'title=' + title.value + '&placeholder=' + placeholder.value,
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
			}).then( r => r.json() )
			.then( d => {
				var all = document.querySelectorAll("div.element")
				var element = null
				for (var i = 0; i < all.length; i++) {
					if (d.id == all[i].getAttribute('element-id') ) {
						element = all[i]
					}
				}
				if (element != null) {
					element.firstElementChild.innerText = d.title
					element.firstElementChild.nextElementSibling
							.nextElementSibling.placeholder = d.placeholder
				}
				textEditorDialog.hide()
			})
		}
	</script>
	
	<div class="modal fade" id="edit-range-modal" data-backdrop="static" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Range</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="edit-range-modal-title"
						class="form-control"
						placeholder="Title" />
					<input id="edit-range-modal-min"
						class="form-control"
						placeholder="Minimum" />
					<input id="edit-range-modal-max"
						class="form-control"
						placeholder="Maximum" />
					<input id="edit-range-modal-id" type="hidden" />
				</div>
				<div class="modal-footer" style="justify-content: space-between;">
					<button type="button" class="btn btn-danger"
						id="edit-range-modal-delete">Delete</button>
					<button type="button" class="btn btn-primary"
						id="edit-range-modal-ok">Save</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		function editRange(element) {
			var title   = document.querySelector("#edit-range-modal-title")
			title.focus()
			title.value = element.firstElementChild.innerText
			
			var input = element.firstElementChild.nextElementSibling.nextElementSibling
			var min     = document.querySelector("#edit-range-modal-min")
			var max     = document.querySelector("#edit-range-modal-max")
			min.value = input.min
			max.value = input.max
			
			var id      = document.querySelector("#edit-range-modal-id")
			id.value = element.getAttribute("element-id")
			rangeEditorDialog.show()
		}
		var rangeEditorDialog = new bootstrap.Modal(document.querySelector("#edit-range-modal"))
		var rangeEditorOk = document.querySelector("#edit-range-modal-ok")
		var rangeEditorDelete = document.querySelector("#edit-range-modal-delete")
		rangeEditorDelete.onclick = function(e) {
			var id = document.querySelector("#edit-range-modal-id")
			removeElement(id.value)
			rangeEditorDialog.hide()
		}
		rangeEditorOk.onclick = function(e) {
			var title = document.querySelector("#edit-range-modal-title")
			var min   = document.querySelector("#edit-range-modal-min")
			var max   = document.querySelector("#edit-range-modal-max")
			var id    = document.querySelector("#edit-range-modal-id")
			
			fetch('/save-element/' + id.value, {
				method:'post',
				body: 'title=' + title.value + '&min=' + min.value + '&max=' + max.value,
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
			}).then( r => r.json() )
			.then( d => {
				var all = document.querySelectorAll("div.element")
				var element = null
				for (var i = 0; i < all.length; i++) {
					if (d.id == all[i].getAttribute('element-id') ) {
						element = all[i]
					}
				}
				if (e != null) {
					element.firstElementChild.innerText = d.title
					element.firstElementChild.nextElementSibling
								.nextElementSibling.min = d.min
					element.firstElementChild.nextElementSibling
								.nextElementSibling.max = d.max
				}
				rangeEditorDialog.hide()
			})
		}
	</script>

<style>
	.modal-body > * {
		margin-bottom: 0.5rem;
	}
	form {
		padding-top: 0.5rem;	
	}
	svg.big {
		width: 2rem;
		height: 2rem;
	}
	svg.normal {
		width: 1rem;
		height: 1rem;
	}
	a > svg.normal {
		margin-top: -0.4rem;
	}
	a:hover > svg {
		stroke: green;
	}
	.element {
		margin-bottom: 1rem;
	}
</style>

<#include "footer.html">