<#include "header.html">
<div class="container">
    <h1>Your Forms</h1>
    <ol>
    <#list forms as f>
        <li>
            ${f.title}
            <a href="/form/${f.id}">View</a>
            <a href="/edit/${f.id}">Edit</a>
            <a href="/result/${f.id}">Result</a>
        </li>
    </#list>
    </ol>

    <br/>
    <div class="btn-group">
        <a href="/add-form" class="btn btn-primary">Add New Form</a>
        <a href="/logout" class="btn btn-primary">Log Out</a>
    </div>
</div>
<#include "footer.html">
